DATABASE_URL=postgresql://neondb_owner:npg_Pdsp2cZyj1zC@ep-twilight-truth-adopkfec-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000
